{% extends "global_layout.html" %}

{% block title %}Create Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="mb-4">Create Dashboard</h1>
  <div class="mb-3">
    <button id="addChart" class="btn btn-primary">Add Chart</button>
    <button id="saveDashboard" class="btn btn-success ms-2">Save</button>
    <button id="resetDashboard" class="btn btn-outline-secondary ms-2">Reset</button>
  </div>
  <div id="charts" class="custom-charts-grid"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/custom_dashboard.js') }}"></script>
{% endblock %}
